---
const { song, image, album } = Astro.props;
---

<article>
  <img src={image} alt={song} />
  <h1>{song}</h1>
  <h2>{album}</h2>
</article>

<style>
  article img {
    aspect-ratio: 1/1;
    max-width: 100%;
    border-radius: 5px;
  }

  h2 {
    color: gray;
    font-size: 15px;
    font-weight: 100;
  }

  h1 {
    font-weight: 400;
    font-size: 17px;
  }
</style>
