---

---

<ul>
  <li>Legal</li>
  <li>Safety & Privacy Center</li>
  <li>Privacy Policy</li>
  <li>Cookie Settings</li>
  <li>About Ads</li>
  <li>Accessibilty</li>
</ul>
<p>Cookies</p>

<button>English</button>

<style>
  ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -20px;
  }

  li,
  p {
    font-size: 11px;
    color: #b3b3b3;
    text-decoration: none;
    list-style: none;
    padding: 0 10px 10px 10px;
  }

  p {
    color: white;
    padding-left: 30px;
  }
  button {
    padding: 6px 25px 6px 25px;
    background-color: #121212;
    border-radius: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    border: none;
    margin-top: 10px;
    color: white;
    border: solid white 0.7px;
    margin-left: 25px;
  }

  button:hover {
    background-color: #121212;
  }
</style>
