---
import Card from "./card.astro";
import Cardlibrary from "./cardlibrary.astro";
---

<section>
  <h1>Your Library</h1>
  <Cardlibrary title="Create your first playlist" subtitle="It´s easy, we'll help you" buttontext="Create playlist" />
  <Cardlibrary title="Let's find some podcasts to follow" subtitle="We'll keep you updated on new episodes" buttontext="Browse podcasts" />

  <section>
    <style>
      h1 {
        color: #b3b3b3;
        font-size: 20px;
        padding-left: 30px;
      }
    </style>
  </section>
</section>
