:root {
  --primary-color: black;
  --secondary-color: #ffffff;
  --hover-color: #f0f0f0;
  --font: "DM Sans", sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font);
}

h1,
h2,
p {
  color: var(--secondary-color);
}

h1 {
  font-size: 25px;
}

.cardline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
}

main {
  display: grid;
  grid-template-columns: 2fr 4.8fr;
  gap: 8px;
  margin-left: 7px;
}

.cardsection {
  background: linear-gradient(to bottom, #1f1f1f, #000000);
  padding: 0px 25px 25px 25px;
  border-radius: 10px;
  padding-top: 15px;
}

button:hover {
  transform: scale(1.04);
  background-color: var(--hover-color);
}
