---
import Card from "../components/card.astro";
import Cardsong from "../components/cardsong.astro";
import Library from "../components/library.astro";
import Nav from "../components/nav.astro";
import Banner from "../components/banner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" />

    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <main>
      <Library />

      <div class="cardsection">
        <h1>Popular Artists</h1>
        <section class="cardline">
          <Card image="../album.jpg" artist="Black" />
          <Card image="../album1.jpg" artist="Miley Cyrus" />
          <Card image="../album2.jpg" artist="Bently" />
          <Card image="../album3.jpg" artist="Rihanna" />
          <Card image="../album4.jpg" artist="Jay Z" />
          <Card image="../album5.jpg" artist="Black Eyed Peas" />
        </section>

        <h1>Popular albums and singles</h1>
        <section class="cardline">
          <Cardsong image="../song1.jpg" song="Blinding Lights" album="The Weeknd" />
          <Cardsong image="../song2.jpg" song="Future Nostalgia" album="Dua Lipa" />
          <Cardsong image="../song3.jpg" song="Shape of You" album="Ed Sheeran" />
          <Cardsong image="../song4.jpg" song="Beerbong" album="Post Malone" />
          <Cardsong image="../song5.jpg" song=" Bad Guy" album="Billie Eilish" />
          <Cardsong image="../song6.jpg" song="Fine Line" album="Harry Styles" />
        </section>
      </div>
    </main>
    <footer>
      <Banner text="Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed." buttonText="Sign up for free" />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
